body {
	margin:0;
	font-size:14px;
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

label {
	display:block;
	color:#4976a8;
}

strong {color:#4976a8;}

input, 
textarea, 
select {
	border:0;
	padding:4px;
	border: 1px solid #b7c9db;
	font-size:16px;
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
select {
	padding:3px;
}

.campo {
	float:left;
	padding-right:10px;
}

.campoBotoes {
	float:left;
	padding-right:10px;
	padding-bottom: 5px;
}

