<div class="campo">
    <label>Nome</label>
    <input type="text" name="Nome" />
</div>
<div class="campo">
    <label>Descrição</label>
    <input type="text" name="Descricao" />
</div>
<div class="campo">
    <label>Inativo?</label>
    <input type="checkbox" name="Inativo" />
</div>

